# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
ENV/

# IDE files
.vscode/
.idea/
*.swp
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env
.env.local

# Streamlit
.streamlit/

# DuckDB
*.db

# Logs
*.log 

# TEMPORARY
tests/*
*.ipynb